<p-dataView #dv [value]="listOfMyCourses" [paginator]="true" [rows]="10" emptyMessage="No courses registered"
  layout="list" paginatorPosition="both" filterBy="modulecode" [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
            (onChange)="onSortChange($event)" [style]="{'min-width':'15em'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by module code"
              (keyup)="dv.filter($event.target.value)">
          </div>
        </div>

      </div>
    </div>
  </p-header>
  <ng-template let-regCourse pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">

      <div class="ui-g-12 ui-md-8 regCourse-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Module Code: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{regCourse.modulecode}}</b></div>
          <div class="ui-g-2 ui-sm-6">Name: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{regCourse.name}}</b></div>

        </div>
      </div>

    </div>
  </ng-template>
</p-dataView>