<div class="content container padding-top-3x padding-bottom-3x"
  style="text-align: center; padding-top:10px;padding-bottom: 10px;">
  <h1>Welcome to Course Registration System</h1>
  <h1>Farhan Angullia</h1>
  <br />

  <mat-grid-list *ngIf="(accountType.includes('student'))" cols="2" rowHeight="2:1">
    <mat-grid-tile><button mat-button color="primary" style="width:100%;height:100%">
        <mat-icon style="font-size:70px;position: absolute">account_box</mat-icon>Profile
      </button></mat-grid-tile>
    <mat-grid-tile><button mat-button color="primary" [routerLink]="'/registercourses'"
        style="width:100%;height:100%">Register Courses</button>
    </mat-grid-tile>
    <mat-grid-tile><button mat-button color="primary" style="width:100%;height:100%">View My Courses</button>
    </mat-grid-tile>
    <mat-grid-tile><button mat-button color="primary" style="width:100%;height:100%">View Classes</button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list *ngIf="(accountType.includes('admin'))" cols="2" rowHeight="2:1">
    <mat-grid-tile><button mat-button color="primary" style="width:100%;height:100%">Profile</button></mat-grid-tile>
    <mat-grid-tile><button mat-button color="primary" style="width:100%;height:100%">Bypass Courses</button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list *ngIf="(accountType.includes('teacher'))" cols="2" rowHeight="2:1">
    <mat-grid-tile><button mat-button color="primary" style="width:100%;height:100%">Profile</button></mat-grid-tile>
    <mat-grid-tile><button mat-button color="primary" style="width:100%;height:100%">View My Courses</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>